.itemForm{
    display: flex;
    flex-direction: row;
}
.date{
    height: 30px;
    width: 12%;
    font-size: 20px;
    border-top: #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF;
    background: linear-gradient(0deg, rgba(217, 217, 217, 0.2), rgba(217, 217, 217, 0.2)), #FFFFFF;
}
.goal{
    height:30px;
    width: 50%;
    border-top: #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF;
    background: linear-gradient(0deg, rgba(217, 217, 217, 0.2), rgba(217, 217, 217, 0.2)), #FFFFFF;
    margin-left: 8%;
    font-size: 20px;
}
.ping{
    width: 10%;
    margin-top: 4%;
    margin-right:3% ;
}
