@font-face {
	font-family: 'Consolas'; 
	src: url('../../shrifts/consolas.ttf') 
}
.grp-buttons{
    /* padding-left: 6%; */
    padding-top: 3%;
    min-width: 320px;
    background: #FFFFFF;
    border: 2px solid #E1E4FD;
    box-shadow: 3px 4px 4px rgba(62, 27, 227, 0.13);
    display: flex;
    flex-direction: column;
    padding-bottom: 12%;
    height: 100vw;

 
}
.btn{
    background: #FAFAFA;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    border-style: none;
    width: 245px;
    height: 65px;
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    margin-top: 14%;

    margin-left: 8%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: row;
}
.btn:hover{
    background-color: #faf9f9;;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 3px 8px 8px rgba(27, 29, 227, 0.25);
}
.iconNav{
    margin-left: 7%;
    width: 36px;
    height: 36px;
    margin-top: 5%;

}
.butTextNav{
    margin-left:5%;
    margin-top: 7%;
}