body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('modules/app-goal-value/img/wallpaper.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  position: relative;
  z-index: 1;
  min-width: 1200px;
}
html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
